<%- include ./public/header %>
<ul style="list-style:none">
	<li>
		<h3>
			<a href="https://github.com/suman030266">github</a>
		</h3>
		我的github地址
	</li>
	<li>
		<h3>
			<a href="https://github.com/suman030266">github</a>
		</h3>
		我的github地址
	</li>
</ul>
<%- include ./public/footer %>